<h3>Book at <%= @restaurant.name %> </h3>

<%= link_to "Go back", restaurant_path(@restaurant), class:"btn btn-outline-secondary" %>

<div class="container">
  <div class="row">
    <div class="col-6 offset-3">
      <%= simple_form_for [@restaurant, @booking] do |f| %>
        <%= f.input :booking_date, placeholder: 'When would you like to book for?' %>
        <%= f.input :guest_count, placeholder: 'How many guests would you like be?' %>
        <%= f.submit %>
      <% end %>
    </div>
  </div>
</div>
