<div class="main-container">
  <div class="restaurant-container">
    <div class="restaurant-show mb-2" style="background-image: linear-gradient(rgba(0,0,0,1) 0%,rgba(24,35,44,0) 19%,rgba(125,185,232,0) 100%), url(<%= asset_path(@restaurant.image_url) %>);" >
      <%= link_to restaurants_path, class: "back-btn" do %>
        <i class="fas fa-arrow-left"></i>
      <% end %>
      <h2><%= @restaurant.name %></h2>
    </div>
      <%= link_to "Book Restaurant", new_restaurant_booking_path(@restaurant), class: "btn btn-show" %>
    <div class="description-container">
      <div class="icons-container">
        <div data-controller="display">
          <div class="icons">
            <i class="fas fa-map-marker-alt"></i>
            <span class="address" data-action="click->display#display"><%= @restaurant.address %> </span>
          </div>
          <div style="width: 100%; height: 300px; margin-top: 8px; margin-bottom: 8px;"
            data-controller="mapbox"
            data-mapbox-api-key-value="<%= ENV["MAPBOX_API_KEY"]%>"
            data-mapbox-markers-value="<%= @markers.to_json %>"
            data-display-target="displayable"
            class="d-none">
          </div>
        </div>
        <div class="icons">
          <i class="fas fa-utensils"></i>
          <span class="cuisine"><%= @restaurant.cuisine %> </span>
        </div>
        <div class="icons">
          <p class="star"><%= "â­" * @restaurant.rating %><%= (@restaurant.rating) %></p>
        </div>
        <div class="dishes">
          <h2 class="title"><%= @restaurant.name %>'s dishes:</h2>
            <% @restaurant.dishes.each do |dish|  %>
              <div class="card-dish mb-2">
                <span class="dish-heading"><%= dish.name %> <span class="dish-icon-red"><%= ["ðŸŒ¶", nil].sample %></span><span class="dish-icon-green"><%= ["ðŸ¥•", "âœ”", nil].sample %> </span></span>
                <p class="dish-description"><%= dish.details %></p>
                <div class="dish-price">
                  <p><%= rand(8..16) %>â‚¬</p>
                </div>
              </div>
            <% end %>
        </div>
      </div>
    </div>
  </div>
</div>
